<mat-spinner
  *ngIf="loading"
  diameter="100"
  class="spinner"
  [@spinfFadeInOut]
></mat-spinner>

<div *ngIf="!loading" class="container">
  <h2 class="blinking-red">Cervezas disponibles</h2>
  <div class="beers-container">
    <a
      *ngFor="let beer of beers"
      [routerLink]="['/beer', beer.id]"
      class="list-group-item list-group-item-action animate__animated animate__bounce animate__fadeIn"
    >
      <mat-card class="mat-elevation-z4" [@fadeInOut]>
        <mat-card-header>
          <mat-card-title> {{ beer.name }}</mat-card-title>
          <mat-card-subtitle>{{ beer.first_brewed }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{ beer.image_url }}" alt="Photo" />
        <mat-card-content>
          <p>{{ beer.description | slice: 0:80 }}...</p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
