/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.767);
  height: 100px;
  box-shadow: 0 0 2px 2px goldenrod;
}

.logo {
  height: 80px;
}
